@import '../abstracts/variables';
@import '../base/typography';

body {
   font-family: $font;
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

.container {
   display: grid;
   grid-template: 60px 1fr 1fr 250px / 1fr 1fr 1fr 1fr;
   grid-template-areas: 
      "header header header header"
      "content content content content"
      "access access access access"
      "footer footer footer footer";
   width: 100%;
   margin: 0 auto;
   height: 100vh;
}
