@import '../abstracts/mixins';
@import '../abstracts/variables';
@import '../abstracts/breakpoints';
@import '../base/typography';

.main-content {
   grid-area: content;
   grid-column: 2/4;
   grid-row: 2/3;
   align-self: center;
   display: flex;
   flex-direction: column;
   align-items: center;
   @include v-small {
      grid-area: content-m;
      grid-column: 1/2;
      grid-row: 2/3;
   }
   &__logo {
      h1 {
         font-size: 5rem;
         letter-spacing: 0.7rem;
         margin: 20px 12px;
         color: $colorLogo;
         @include v-small {
            font-size: 4.5rem;
         }
      }
   }
   &__input {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 90%;
      border-radius: 100px;
      border: 1px solid $colorBorderInput;
      &:hover {
         box-shadow: 0 1px 6px 3px #20212447;
         border-color: #dfe1e500;
      }
      @include v-small {
         width: 85%;
      }
      input {
         @include input-p;
      }
      span, a {
         margin: 0 auto;
      }
   }
}

.fa-search {
   color: #9aa0a6;
}